*{
    padding: 0;
    margin: 0;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}

:root {
    --primary_color : #6A4DF4;
    --primary_font: 'Inter', sans-serif;
    --section_padding : 100px 0px;
}
.container{
    width: 1320px;
    margin: 0 auto;
}


/* common css for common style */
.heading_css{
    font-weight: bold;
    font-size:  45px; 
    font-family: var(--primary_font);
    color: #151515;
    text-align: center;
}
.heading_p_css{
    font-weight: bold;
    font-size:  16px; 
    font-family: var(--primary_font);
    color: #737373;
    text-align: center;
    padding: 20px 330px 0 330px;
}


/* ==================================
============nav part startes here
==================================== */

nav{
    font-family: var(--primary_font);
    z-index: 999;
    position: relative;
    margin-top: 40px;
}
nav .content_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .content_part ul{
    display: flex;
    justify-content: space-between;
    width: 440px;
}
nav .content_part ul a{
    color: white;
}
nav .content_part .button button{
    padding: 15px 42px;
    color: white;
    background-color: var(--primary_color);
    font-family: var(--primary_font);
    border-radius: 15px;
}

/* ==================================
============banner part starts here
==================================== */

#banner{
    background-image: url(../images/Banner.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
#banner .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
}
#banner .overlay .content{
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
    color: white;
}
#banner .overlay .content h1{
    font-family: var(--primary_font);
    font-weight: bold;
    font-size: 75px;
    padding: 0 100px;
}
#banner .overlay .content p{
    font-family: var(--primary_font);
    font-weight: 400;
    font-size: 16px;
    padding: 25px 340px;
    line-height: 26px;
}
#banner .overlay .content button{
    padding: 15px 42px;
    color: white;
    background-color: var(--primary_color);
    font-family: var(--primary_font);
    border-radius: 15px;
}


/* ==================================
============success part starts here
==================================== */


#success .content{
    padding: 85px 50px;
    margin-top: 1000px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #E0FFF9;
    border-radius: 15px;
}
#success .content .left_description{
    width: 375px;
}
#success .content .left_description h5{
    font-size: 25px;
    color: var(--primary_color);
    font-family: var(--primary_font);
}
#success .content .left_description h3{
    font-size: 35px;
    font-family: var(--primary_font);
    padding-top: 15px;
}
#success .content .satisfied h2{
    font-size: 50px;
    font-family: var(--primary_font);
    font-weight: bold;
}
#success .content .satisfied h6{
    font-size: 20px;
    font-family: var(--primary_font);
    font-weight: bold;
    color: #737373;
    padding-top: 20px;
}
#success .content .rating h2{
    font-size: 50px;
    font-family: var(--primary_font);
    font-weight: bold;
}
#success .content .rating h6{
    font-size: 20px;
    font-family: var(--primary_font);
    font-weight: bold;
    color: #737373;
    padding-top: 20px;
}
#success .content .Delivered h2{
    font-size: 50px;
    font-family: var(--primary_font);
    font-weight: bold;
}
#success .content .Delivered h6{
    font-size: 20px;
    font-family: var(--primary_font);
    font-weight: bold;
    color: #737373;
    padding-top: 20px;
}

/* ==================================
============success part starts here
==================================== */


#services .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
#services .content .one{
    width: 25%;
    text-align: center;
    padding: 46px 50px;
    margin: 40px 0;
    border-radius: 20px;
}
#services .content .one h5{
    font-family: var(--primary_font);
    font-size: 25px;
    font-weight: bold;
    color: #151515;
    padding-top: 40px;
}
#services .content .one p{
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: regular;
    color: #737373;
    padding-top: 20px;
}
#services .content .active{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* ==================================
============work part starts here
==================================== */

#work{
    background-color: #F3F3F3;
    padding: var(--section_padding);
}
#work .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
#work .content .one{
    width: 31%;
    text-align: center;
    margin: 40px 0;
    border-radius: 20px;
    background-color: #fff;
    padding-bottom: 30px;
}
#work .content .one img{
    width: 100%;
}
#work .content .one h5{
    font-family: var(--primary_font);
    font-size: 25px;
    font-weight: bold;
    color: #151515;
    padding-top: 40px;
}
#work .content .one p{
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    padding: 20px 35px 0 35px;
}

/* ==================================
============choose part starts here
==================================== */

#choose{
    padding: var(--section_padding);
}
#choose .content{
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
}
#choose .content .left_part{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
#choose .content .right_part{
    width: 40%;
}
#choose .content .left_part .left_part_content{
    width: 49%;
}

#choose .content .left_part .left_part_content h5{
    font-family: var(--primary_font);
    font-size: 25px;
    font-weight: bold;
    color: #151515;
    padding-top: 20px;
}
#choose .content .left_part .left_part_content p{
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    padding-right: 45px;
    padding-top: 10px;
}


/* ==================================
============review part starts here
==================================== */


#review {
    padding: var(--section_padding);
}
#review .content{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    position: relative
}
#review .content .one{
    width: 28%;
}
#review .content .one .two{
    display: flex;
}
#review .content .one p{
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    padding-top: 20px;
    padding-right: 70px;
}
#review .content .one svg{
    padding-top: 20px;
}
#review .content .one .two{
    padding-top: 20px;
}
#review .content .one .two .two_content{
    padding-left: 20px;
}
#review .content .one .two .two_content h5{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary_font);
    color: #737373;
}
#review .content .one .two .two_content h6{
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
}
#review .content .active{
    background-color: #F4EFEF;
    border-radius: 20px;
    padding: 40px;
}
#review .content .left-arrow{
    position: absolute;
    left: -65px;
    top: 50%;
}
#review .content .right-arrow{
    position: absolute;
    right: -50px;
    top: 50%;
}


/* ==================================
============form part starts here
==================================== */

#form{
    background-color: #F3F3F3;
    padding: var(--section_padding);
}
#form .content{
    display: flex;
    justify-content: space-between;
}
#form .content .left_part{
    width: 50%;
    margin-top: 100px;
}
#form .content .right_part{
    width: 50%;
}
#form .content .left_part h2{
    font-size: 45px;
    font-weight: bold;
    font-family: var(--primary_font);
    color: #151515;
}
#form .content .left_part p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary_font);
    color: #151515;
    line-height: 26px;
    color: #7B7B7B;
    padding-top: 20px;
}
#form .content .right_part h5{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--primary_font);
    color: #151515;
    margin-bottom: 30px;
}
#form .content .right_part .small_headding{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary_font);
    color: #151515;
    line-height: 26px;
    text-align: left;
    padding-left: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#form .content .right_part input{
    padding: 15px 120px;
    border-radius: 10px;
    font-family: var(--primary_font);
}
#form .content .right_part button{
    background-color: #6A4DF4;
    padding: 15px 172px;
    border-radius: 10px;
    color: white;
    font-family: var(--primary_font);
    margin-top: 20px;
}
#form .content .right_part{
    background-color: #ffffff;
    padding: 61px 0;
    margin-left: 230px;
    border-radius: 20px;
    text-align: center;
}
#form .content .right_part form lael{
    text-align: left;
}






















